.main-table.orderadmin > tbody tr td{
    /*height: 100px;*/
    /*display: block;*/
}
.main-table.orderadmin  tbody tr td table tr#tr-small{
    height: 50px;
    /*display: block;*/
}
.main-table.orderadmin  tbody tr td table tr#tr-small #soluong{
    width: 50px;
}
.main-table.orderadmin  tbody tr td table tr#tr-small #moreinfo-product-order{
    width: 100px;
    text-transform: uppercase;
}
.main-table.orderadmin  tbody tr td table tr#tr-small #name-product-order{
    text-transform: uppercase;
}
.main-table.orderadmin tbody .adminorder img-list .table-small.needed tr{
    /*border: 1px solid red;*/
}
.main-table.orderadmin tbody .adminorder .shipto{
    width: 450px;
}
.main-table.orderadmin tbody .adminorder .email{
    width: 270px;
}
.main-table.orderadmin tbody .adminorder .total-payment{
    width: 100px;
}
.main-table.orderadmin tbody .adminorder .btn-list{
    width: 100px;
}
.main-table.orderadmin tbody .adminorder .btn-list a{
    text-decoration: none;
    color: white;
    background-color: #30a5ff;
    padding: 10px 10px;
    border-radius: 4px;
}


