.panel-heading{
    background-color: white;
    /* border-top-left-radius: 3px;
    border-top-right-radius: 3px; */
    border-radius: 3px;
    padding-bottom: 50px;
    /* border:1px solid black; */
}

.panel-heading .name-panel{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 65px;
    display: flex;
    align-items: center;
    background-color: #337ab7;
    color: white;
    padding-left: 20px;
    font-size: 20px;
    margin-bottom: 25px;
    /* border: 1px solid green; */
}
.panel-heading .panel-body{
    margin-left: 20px;
    margin-right: 20px;
}
.panel-heading .panel-body .add-btn{
    width: 120px;
    background-color: #30a5ff;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    /* border: 1px solid red; */
}
.panel-heading .panel-body .add-btn:active{
    background-color: #90cfff;
    /* border: 1px solid red; */
}

table {
    margin-top: 25px;
    /* background: #fff; */
    border-collapse: collapse;
    width: 100%;
    /* border: 1px solid red; */
}
table>thead>tr>th {
	vertical-align: middle;
    height: 50px;
    color:rgb(44, 44, 44);
    font-weight: bold;
}
/*
tbody td:last-child {
	border-right: none;
}
tbody tr {
	border: 1px solid rgb(0, 0, 0);
}
*/
thead th {
	background: #f7f7f8;
	border-color: #ddd;
	color: #5f6468;
	font-weight: 300;
	font-size: 16px;
}
/* table, th{
    border:1px solid  #ddd;
} */
table, th, td{
    border:1px solid #ddd;
}
tbody tr td{
    color: rgb(61, 61, 61);
    font-weight: 500;
    text-align: center;
}
.img-list img{
    width: 100px;
}
.id{
    width: 40px;
}
.change-btn{
    width: 60px;
    background-color: #30a5ff;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
}

.change-btn.delete{
    background-color: rgb(255, 0, 0);
}
.change-btn.delete:active{
    background-color: rgb(255, 142, 142);
}
.change-btn.modify{
    background-color: rgb(41, 141, 41);
}
.change-btn.modify:active{
    background-color: rgb(93, 190, 93);
}
/* .active{
    background-color: #337ab7;
}
.active>a>i{
    color: white;
}
.active>a>p{
    color: white;
} */